<span class="vbase-developers">
  {% if label_display %}
    <span>{{ label }}:</span>
  {% endif %}
  <a{{ attributes }}>
    <img alt="Virdini" src="https://info.virdini.com/logo/{{ logo }}" width="{{ width }}">
  </a>
</span>
